{{template "header.html"}}
<div>
    <p>Videos</p>
    {{range .videos}}
<div>
    <p>URL : {{.URL}}</p>
    <p>Title : {{.Title}}</p>
    <p>Description : {{.Description}}</p>
    <p>------------------------------------------------</p>
</div>

{{end}}
</div>


{{template "footer.html"}}